.svg-container {

    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 20%;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

p {
  padding-top: 50%;
  font-size: 80%;
  font-style: italic;
  text-align: center;
}
/* footer
––––––––––––––––––––––––––––––––––––––– */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.FooterBox {
  border: 5px solid #2F2F31;
  border-radius: 2px;
  overflow: hidden;
  background: #2F2F31;
  text-align: center;
  min-height: 10%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 60%;

}
.FooterBox a {
  text-decoration: none;
  color: #ce5a57;
  line-height: 3.6;
}

@media (min-width: 1100px) {
  .svg-container {
    padding-top: 10%;
  }
}
